body {
    font-family: "Bai Jamjuree", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

@mixin flex ($direction, $jcontent, $aitems){
    display: flex;
    flex-direction: $direction;
    justify-content: $jcontent;
    align-items: $aitems;

}

.navbar {
    @include flex (row, flex-end, center);
    padding: 15px 64px;
    background-color: #424242;
    position: relative;

    .navbar p {
        margin: 0%;
        padding: 10px 0;
        font-weight: bold;
        color: brown;
        font-size: 1.45em;
    }

    .navbar strong {
        color: black;
    }
    
    .menu-icon {
        display: none;
        flex-direction: column;
        cursor: pointer;
        margin-left: auto;
        position: relative;
        z-index: 1;
        .menu-icon .line {
            width: 30px;
            height: 3px;
            background-color: #e5e5e5;
            margin: 5px;
            transition: all 0.3s ease;
        }
    }
    
    #menu-toggle {
        display: none;
    }

    .nav-links {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        transition: all 0.5s ease;

        .nav-links li {
            margin-left: 24px;
        }
        .nav-links a {
            text-decoration: none;
            color: #e5e5e5;
            font-size: 17px;
            padding: 8px 24px;
            border-radius: 30px;
            transition: background-color 0.3s ease;
        }
        .nav-links a:hover {
            background-color: #C91A1A;
        }
    }
    
}

#hero{
    @include flex (column, center, center);
    text-align: center;
    height: 100vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("IMG/Fondo.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;

    h1{
     font-size: 3.5em;
    }

    .btn-1{
        display: inline-block;
        padding: 11px 35px;
        background-color: #C91A1A;
        color: #F9FAFC;
        text-transform: uppercase;
        text-decoration: none;
    }
    
    .btn-1:hover{
        background-color: darkred;
    }
}

#nosotros .container{
    text-align: center;
    padding: 50px 12px;

    .container{
        max-width: 1024px;
        margin: auto;

        p{ font-size: 1.25em;}
    }
}

.blog {
    .blog h2 {
        text-align: center;
        padding: 20px ;
        font-size: 2.3em;
        font-weight: 800;
        font-family: "Bai Jamjuree",sans-serif;
    }
    div.blog-content container{

            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        
        .blog-1 {
            height: 200px;
            flex:  1 0 220px;

            .blog-1 img {
                display: block;
                object-fit: cover;
                width: 100%;
                border-radius: 10px;
            }

            .blog-1 img:hover {
                transform: scale(1.1);
            }
            
            .blog-txt h3 { 
                text-align: center;
                margin: 8px 0 16px;
                color: #545454;
                font-family: "Montserrat", sans-serif;
                font-size: 20px;
                font-weight: 600;
             } 
        }
        
    }
}

.cuerpo {
    .cuerpo h2 {
        text-align: center;
        padding: 30px;
        font-size: 2.3em;
        font-weight: 800;
        font-family: "Bai Jamjuree",sans-serif;
    }

    div.cards {
        .card {
            height: 200px;
            flex: 1 0 200px;
        }
        .cards {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;

            .card-fit {
                border: 2px solid #e5e5e5;
            }
        
            .card-fit:hover {
                transform: scale(0.9);
            }
            
            .card-fit:focus {
                outline: none;
                box-shadow: 0 0 15px 8px #f5f5f5;
            }
            .card-fit h3 {
                text-align: center;
                font-family: "Bai Jamjuree",sans-serif;
            }
        }
    }

    #productos {
        padding: 30px 0;
        text-align: center;

        #productos button {
            font-size: 1em;
            padding: 5px 20px;

            button{
                font-size: 1.5em;
                font-weight: bold;
                padding: 10px 10px;
                border-radius: 10px;
                border: 1px solid rgba(0,0,0,0.5);
                box-shadow: 2px 2px 10px rgba(0,0,0,0.5) ;
                color: white;
                background-color: brown;
            }
            
            button:hover{
                background-color: rgb(112, 18, 18);
            }
            
        }
     }
}

.box-title{
    .box-title h2 {
        text-align: center;
        padding: 80px 15px;
        font-weight: 800;
        font-family: "Bai Jamjuree",sans-serif;
    }
}

.section-icons {
    div.container {
        .box-icons i {
            font-size: 50px;
            color: #C91A1A;

            .box-icons h3 {
                font-weight: 500;
                font-family: "Bai Jamjuree",sans-serif;
            }
        }
    }
}

.footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #C91A1A;
    section.seccion-1 {
        padding: 10px 0;
        color: #fff;
        .footer h3{
            font-size: 25px;
            padding: 10px;
        }
        .footer p{
            padding: 3px 0;
            font-size: 14px;
        }

        .footer .seccion-1 a{
            display: block;
            color: #fff;
            text-decoration: none;
        }

        .footer .redes-sociales{
            display: flex;
            justify-content: center;

            .footer .redes-sociales a{
                margin: 0 8px;
                font-size: 20px;
            }
        }
    }

    .footer .seccion-2{
        background-color: darkred;
        padding: 10px 0;
        color: #fff;
    }
}

@media (min-width: 729px){
    .footer .seccion-1{
        display: flex;
    }

    .footer .seccion-1 div{
        flex-grow: 1;
    }
}
/* MENU HAMBURGUESA */
@media(max-width: 768px) {

    .navbar {
        padding: 16px;
    }

    .menu-icon {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        flex-direction: column;
        background-color: #424242;
        text-align: center;
        transition: heigth 0.5s ease;
    }

    .nav-links li {
        margin: 0;
        padding: 20px 0;
        width: 100%;
    }

    .nav-links a {
        width: 100%;
        padding: 10px 20px;
    }

    #menu-toggle:checked + .menu-icon + .nav-links {
        height: 50vh;
    }

    #menu-toggle:checked + .menu-icon.line:nth-child(1) {
        transform: rotate(45deg) translate(15px, 3px);
    }

    #menu-toggle:checked + .menu-icon.line:nth-child(2) {
        transform: scale(0);
    }

    #menu-toggle:checked + .menu-icon.line:nth-child(3) {
        transform: rotate(-45deg) translate(15px, -4px);
    }
}
