<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <footer class="footer">
        <section class="seccion-1">
            <div>
                <h3>Contacto</h3>
                <p>info@gmail.com</p>
                <p>+54 9 11 4537-2939</p>
                <p>Calle Groove 2345</p>
            </div>
            <div>
                <h3>Lincks</h3>
                <a href="#">Inicio</a>
                <a href="#">¿Por que elegirnos?</a>
                <a href="#">Servicios</a>
                <a href="#">Productos</a>
            </div>
            <div>
                <h3>Redes Sociales</h3>
                <div class="redes-sociales">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-instagranm"></i></a>
                    <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                </div>
            </div>
        </section>
        <section class="seccion-2">
            <p>2025 &#169; Todos los erechos reservados</p>
        </section>
    </footer>
</body>
</html>