<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>

<body>
    
    <div class="cuerpo">
        <h2>PRODUCTOS DESTACADOS</h2>
        <div class="cards">
            
            <div class="card-fit">

                <div class="imagen-card">
                    <img src="../IMG/PolvoquimicoBC.jpg" alt=""> 
                </div>

                <div class="card-cuerpo">
                    <h3>POLVO QUIMICO ABC</h3>
                </div>
    
            </div>
    
            <div class="card-fit">
                
                <div class="imagen-card">
                    <img src="../IMG/PolvoquimicoBC.jpg" alt="">
                </div>
    
                <div class="card-cuerpo">
                    <h3>POLVO QUIMICO BC</h3>
                </div>
    
            </div>
    
            <div class="card-fit">

                <div class="imagen-card">
                    <img src="../IMG/PolvoquimicoBC.jpg" alt="">
                </div>
    
                <div class="card-cuerpo">
                    <h3>POLVO QUIMICO B</h3>

                </div>
    
            </div>
    
            <div class="card-fit">

                <div class="imagen-card">
                    <img src="../IMG/PolvoquimicoBC.jpg" alt="">
                </div>

                <div class="card-cuerpo">
                    <h3>AGUA</h3>
                </div>
            </div>
    
        </div>

        <section id="productos">
            <button class="button">TODOS LOS PRODUCTOS</button>
        </section>
    
    </div>




</body>

</html>