<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <section>
        <h2 class="productos-h2">PRODUCTOS DESTACADOS</h2>

        <section class="productos">
            <div class="polvo-abc">
              <img class="img-abc" src="../IMG/PolvoquimicoBC.jpg" alt=""> 
              <h3 id="abc-h3">POLVO QUIMICO ABC</h3> 
              <a href="http://">Ler mas</a>
            </div>

            <div class="polvo-bc">
                <img class="img-bc" src="../IMG/PolvoquimicoBC.jpg" alt="">
                <h3>POLVO QUIMICO BC</h3>
                <a href="http://">Ler mas</a>
            </div>

            <div class="polvo-d">
                <img class="img-d" src="../IMG/PolvoquimicoBC.jpg" alt="">
                <h3>POLVO QUIMICO D</h3>
                <a href="http://">Ler mas</a>
            </div>

            <div class="polvo-agua">
                <img class="img-agua" src="../IMG/PolvoquimicoBC.jpg" alt="">
                <h3 >AGUA</h3>
                <a href="http://">Ler mas</a>
            </div>

        </section>
    </section>

    
    <section id="productos">
        <button class="button">TODOS LOS PRODUCTOS</button>
    </section>
    


    
</body>
</html>