<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <section id="productos-destacados">
        <div class="container">
            <h2>PRODUCTOS DESTACADOS</h2>
            <div class="carta">
                <h3>POLVO QUIMICO ABC</h3>
                <button>Leer mas</button>
            </div>
            <div class="carta">
                <h3>POLVO QUIMICO BC</h3>
                <button>Leer mas</button>
            </div>
            <div class="carta">
                <h3>POLVO QUIMICO D</h3>
                <button>Leer mas</button>
            </div>
            <div class="carta">
                <h3>AGUA</h3>
                <button>Leer mas</button>
            </div>
        </div>
    </section>

        <section id="productos">
            <button class="productos">TODOS LOS PRODUCTOS</button>
        </section>
        
    
</body>
</html>