<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SERVICIOS</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    
    <section class="blog">

        <h2>SERVICIOS</h2>

        <div class="blog-content container">

            <div class="blog-1">
                <img src="../IMG/servicio1.jpg" alt="">
                <div class="blog-txt">
                   <h3>Mantenimiento de isntalaciones contra 
                    incendios</h3>
                </div>
            </div>
            
            <div class="blog-1">
                <img src="../IMG/servicio2.jpg" alt="">
                <div class="blog-txt">
                    <h3>Venta, recarga, mantenimiento e 
                        isntalaciones de extintores</h3>
                </div>
            </div>

            <div class="blog-1">
                <img src="../IMG/servicio3.jpg" alt="">
                <div class="blog-txt">
                    <h3>Venta de carteleria y señalizacionde alto
                        impacto</h3>
                </div>
            </div>

            <div class="blog-1">
                <img src="../IMG/productos4.jpg"  height="130px">
                <div class="blog-txt">
                    <h3>Controles periodicos</h3>
                </div>
            </div>
        </div>

    </section>



</body>
</html>